.moveableControlBox {
  position: absolute;
  width: 0;
  height: 0;
}

.point {
  position: absolute;
  background-color: #4af;
  border-radius: 50%;
  border: 2px solid #fff;
}

.moveableArae {
  cursor: move;
}
