.leftPanel {
  box-sizing: content-box;
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border-right: 1px solid rgb(219, 219, 219);
  font-size: 12px;
  overflow: hidden;
}
