.pageList {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .pageItem {
    text-align: center;
    margin: 10px 0;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: #cecece;
    }
  }
}
