.chromeColorPicker {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: border-color 0.2s ease-out 0s;
    display: inline-block;

    .thumbnail {
    }

    .colorPickerContainer {
        position: absolute;
    }
}
